/******************* Theme Colors *******************/

:root {
	--default-color-begin: #8600ff;
	--default-color-end: #ff359a;
	--default-color: #ff359a;
}

/******************* Global Settings *******************/

* {
	font-family: 'Microsoft Yahei', sans-serif;
	color: var(--default-color);
	box-sizing: border-box;
	word-wrap: break-word;
}

p {
	color: black;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.44em 0.33em;
}

/******************* Header *******************/

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	height: 50px;
	line-height: 50px;
	background-color: rgba(240, 240, 240, .836);
	border-bottom: 2px solid;
	border-top: 0; /* some username agent stylesheet will set these into non-zero value (such as iOS Safari) */
	border-left: 0;
	border-right: 0;
	border-image: linear-gradient(to right, var(--default-color-begin), var(--default-color-end)) 20 20;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .24), 0 3px 9px 0 rgba(0, 0, 0, .19);
}

/******************* Sign in & Sign up *******************/

#sign-in-button,
#sign-up-button {
	width: 76px;
	height: 32px;
	margin: 0 4px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	border-width: 0;
	transition-duration: .4s;
	transition-delay: .07s;
	font-size: 15px;
}

#sign-in-button {
	border: 2px solid;
}
#sign-in-button:hover {
	background-color: rgba(207, 207, 207, .85);
}

#sign-up-button {
	background-image: linear-gradient(to right, var(--default-color-begin), var(--default-color-end));
    color: #eeeeee;
    background-size: 220% 220%;
    background-position: 80% 80%;
}
#sign-up-button:hover {
	background-position: 10% 10%;
}

/******************* Gradient text *******************/

.gradient-text {
	background-image: linear-gradient(to top right, var(--default-color-begin), var(--default-color-end));
	background-color: var(--default-color);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}

/******************* Sidebar *******************/

#left-sidebar,
#right-sidebar {
	position: fixed;
	top: 90px;
	list-style-type: none;
	width: 48px;
	z-index: 100;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-left: 0;
}

#left-sidebar {
	left: 30px;
}

#right-sidebar {
	right: 30px;
}

#left-sidebar li,
#right-sidebar li {
	height: 48px;
	transition-delay: .07s;
	transition-duration: .4s;
	background-color: #eeeeee;
	text-align: center;
	margin: 3px 0;
	border-right: 1px solid var(--default-color);
	border-left: 1px solid var(--default-color);
	box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .24), 3px 3px 9px 0 rgba(0, 0, 0, .19);
}
#left-sidebar li:hover,
#right-sidebar li:hover {
	height: 96px;
}

#left-sidebar > :first-of-type li,
#right-sidebar > :first-of-type li {
	border-top-left-radius: 24px; /* width is 48px, this is half of width */
	border-top-right-radius: 24px;
	border-top: 1px solid var(--default-color);
}

#left-sidebar > :last-of-type li,
#right-sidebar > :last-of-type li {
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
	border-bottom: 1px solid var(--default-color);
}

#left-sidebar i,
#right-sidebar i {
	font-size: 20px;
	bottom: 24px;
	margin-top: 14px; /* height of #left-sidebar li is 48px, so margin-top is (48-20)/2 */
}

#left-sidebar span,
#right-sidebar span {
	display: block;
	visibility: hidden;
	margin-top: 50%;
}

#left-sidebar li:hover span,
#right-sidebar li:hover span {
	visibility: visible;
	transition-delay: .27s; /* transition-duration of #left-sidebar li is .4s, transition-delay of #left-sidebar li is .07s, this will appear at the middle of transition, so its transition-delay is .07s+.4s/2=.27s*/
}

/******************* Main Content *******************/

body {
	margin: 0; /* cover the user-agent stylesheet */
}

#main-content {
	display: flow-root;
	margin: 80px 108px 0; /* 30 + width of sidebar(48) + 30 */
}

#main-content #left-content,
#main-content #right-content {
	display: inline-block;
	vertical-align: top;
}

#main-content #left-content {
	width: calc(61.8% - 15px);
	margin-right: 15px;
	float: left;
}

#main-content #right-content {
	width: calc(38.2% - 15px);
	margin-left: 15px;
	float: right;
}

#main-content-small {
	width: 300px;
	margin: 68px auto 0 auto;
}

/******************* Box *******************/

.box {
	background-color: rgba(239, 239, 239, .85);
	border: 1px solid var(--default-color);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 8px;
	margin-top: 30px;
}

.box .box-title {
	color: black;
	font-size: 1.25em;
}

.box:first-of-type {
	margin-top: 0;
}

.box a {
	color: var(--default-color-begin);
	transition-duration: .4s;
}
.box a:hover {
	color: var(--default-color);
}

/******************* Splited table (use for alignment) *******************/

table.splited {
	width: 100%;
	border-collapse: collapse;
}

table.splited tr:first-of-type {
	border: 0;
}

table.splited tr {
	border-top: 1px solid rgba(165, 165, 165, 0.85);
}

table.splited td.left-part {
	padding-left: 5px;
	width: 61.8%;
}

table.splited td.right-part {
	padding-right: 5px;
	width: 38.2%;
	text-align: right;
	color: grey;
}

table.splited td {
	padding: 3px 0 6px;
}

/******************* Boxes *******************/

.box a {
	color: var(--default-color-begin);
	transition-duration: .4s;
}
.box a:hover {
	color: var(--default-color);
}

/******************* Light *******************/

.shadow {
	transition-duration: .4s;
	box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .24), 3px 3px 9px 0 rgba(0, 0, 0, .19);
}

/******************* Tag *******************/

.tag {
	transition-duration: .4s;
	border-radius: 4px;
	opacity: .7;
	font-size: 11px;
	padding: 4px;
	word-wrap: normal;
	color: white;
	white-space: nowrap;
}
.tag:hover {
	opacity: .95;
}

.tag.light-green,
.tag.light-green:hover {
	background-color: #00bf00;
	color: white;
}

.tag.grey,
.tag.grey:hover {
	background-color: grey;
	color: white;
}

.tag.pink,
.tag.pink:hover {
	background-color: lightcoral;
	color: white;
}

/******************* Rating *******************/

.rating {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.rating.unrated {
	color: black;
	font-weight: normal;
}

.rating.newbie {
	color: gray;
}

.rating.pupil {
	color: green;
}

.rating.specialist {
	color: #03a89e;
}

.rating.expert {
	color: blue;
}

.rating.candidate-master {
	color: #aa00aa;
}

.rating.master {
	color: #ff8c00;
}

.rating.grandmaster {
	color: red;
}

/******************* Username color *******************/

.username {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.username.unrated {
	color: black;
}

.username.newbie {
	color: grey;
}

.username.pupil {
	color: green;
}

.username.specialist {
	color: #03a89e;
}

.username.expert {
	color: blue;
}

.username.candidate-master {
	color: #aa00aa;
}

.username.master {
	color: #ff8c00;
}

.username.grandmaster {
	color: red;
}

/******************* Input box & button *******************/

.input-box {
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 0 4px 0;
	border-radius: 12px;
	height: 24px;
	border: 0;
	outline: medium;
}

.grey-button {
	color: black;
	border: 1px solid var(--default-color);
	background-image: linear-gradient(to right, rgba(239, 239, 239, .85), rgba(175, 175, 175, .85));
	background-size: 220% 220%;
	background-position: 80% 80%;
	transition-duration: .4s;
	transition-delay: .07s;
	outline: medium;
	display: block;
	margin: 8px auto;
	border-radius: 32px;
    padding: 2px 25px;
    font-size: 1.24em;
    line-height: 32px;
    cursor: pointer;
}
.grey-button:hover {
	background-position: 10% 10%;
}

/******************* Footer *******************/

footer a {
	color: var(--default-color-begin);
	transition-duration: .4s;
}
footer a:hover {
	color: var(--default-color-end);
}

footer span[onclick] {
	cursor: pointer;
}

footer {
	margin: 10px 0;
	text-align: center;
}

/******************* Discussion *******************/

.discuss-comment {
	font-size: small;
}

.discuss-comment > img { /* avatar */
	height: 40px;
	float: left;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.discuss-comment > span::before { /* date & time */
	content: "发表于 ";
}

.discuss-comment > a[onclick] { /* 'comment back' */
	cursor: pointer;
}

.discuss-comment > span {
	color: black;
}

.message-bubble {
	border: 1px solid rgba(165, 165, 165, .85);
	box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .24), 3px 3px 9px 0 rgba(0, 0, 0, .19);
	border-radius: 0 12px 12px;
	margin: 8px 0 0 48px;
	padding: 8px;
	color: black;
}

/******************* Article *******************/

.article p {
	margin: 8px 0;
}
.article p:first-child {
	margin-top: 0;
}
.article p:last-child {
	margin-bottom: 0;
}

.article blockquote {
	margin: 4px 4px 4px 12px;
	padding: 8px;
	border-left: 3px solid rgba(165, 165, 165, .85);
	background-image: linear-gradient(to right, rgba(207, 207, 207, .85), transparent);
}

.article * {
	color: inherit;
}

.article code {
	font-family: monaco, consolas, sans-serif;
	padding: 2px;
	border: 1px solid rgba(165, 165, 165, .85);
	border-radius: 3px;
	background-color: rgba(207, 207, 207, .85);
}

.article .task-list-item-checkbox[type=checkbox] {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.article ol > li > ol {
	list-style-type: upper-roman;
}
.article ol > li > ol > li > ol {
	list-style-type: lower-alpha;
}
.article ol > li > ol > li > ol > li > ol {
	list-style-type: lower-roman;
}
.article ol > li > ol > li > ol > li > ol > li > ol {
	list-style-type: lower-greek;
}
.article ol > li > ol > li > ol > li > ol > li > ol > li > ol {
	list-style-type: upper-alpha;
}
.article ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol {
	list-style-type: decimal-leading-zero;
}
.article ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol ol {
	list-style-type: cjk-ideographic;
}

.article abbr {
	text-decoration: underline wavy;
}

.article td,
.article th,
.article table {
	border: 1px solid rgba(165, 165, 165, .85);
}

.article table {
	border-collapse: collapse;
	margin: 3px 0;
}

.hover-shadow {
	box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .24), 3px 3px 9px 0 rgba(0, 0, 0, .19);
}
.hover-shadow:hover {
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, .24), 17px 17px 24px 0 rgba(0, 0, 0, .19);
}

.box th,
.box tr,
.box td,
.box tbody {
	color: inherit;
}

/******************* Page modifier *******************/

ul.page-modifier {
	padding-left: 0;
	margin: 3px 0 0;
}

ul.page-modifier li {
	display: inline-block;
	background-color: #eeeeee;
	text-align: center;
	margin: 0;
	transition-delay: .07s;
	transition-duration: .4s;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-top: 1px solid var(--default-color);
	border-bottom: 1px solid var(--default-color);
	box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .24), 3px 3px 9px 0 rgba(0, 0, 0, .19);
}
ul.page-modifier li:hover {
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, .24), 17px 17px 24px 0 rgba(0, 0, 0, .19);
}
ul.page-modifier li[current-page]:hover {
	box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .24), 3px 3px 9px 0 rgba(0, 0, 0, .19);
}
ul.page-modifier > a:first-child > li {
	border-left: 1px solid var(--default-color);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
ul.page-modifier > a:last-child > li {
	border-right: 1px solid var(--default-color);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

/******************* Problemset *******************/

table.problemset {
	color: black;
	margin: 5px;
	width: calc(100% - 10px);
	border-collapse: collapse;
}

table.problemset > thead {
	color: black;
}

table.problemset i.fa-check { /* AC */
	color: green;
}

table.problemset i.fa-minus { /* no submission */
	color: black;
}

table.problemset i.fa-clock, /* TLE */
table.problemset i.fa-database, /* MLE */
table.problemset i.fa-print { /* OLE */
	color: sandybrown;
}

table.problemset i.fa-bomb { /* RE */
	color: darkviolet;
}

table.problemset i.fa-question-circle { /* Unknown Result */
	color: lightcoral;
}

table.problemset i.fa-hourglass-start, /* Queueing */
table.problemset i.fa-spinner { /* Judging */
	color: lightskyblue;
}

table.problemset i.fa-star-half-alt { /* PAC */
	color: springgreen;
}

table.problemset i.fa-code, /* CE */
table.problemset i.fa-file { /* File Error */
	color: chocolate;
}

table.problemset i.fa-server, /* Judgment Failed */
table.problemset i.fa-fast-forward { /* Skipped */
	color: grey;
}

table.problemset i.fa-times { /* WA */
	color: red;
}

table.problemset td {
	height: 40px;
}

table.problemset td:nth-child(4) > a { /* Tags */
	float: right;
	margin-right: 2px;
}
table.problemset td:nth-child(4) > a:first-child {
	margin-right: 0;
}

table.problemset th:nth-child(1), /* Status */
table.problemset td:nth-child(1),
table.problemset th:nth-child(5), /* Difficulty */
table.problemset td:nth-child(5) { 
	text-align: center;
	width: 35px;
}

table.problemset th:nth-child(2), /* Number */
table.problemset td:nth-child(2),
table.problemset th:nth-child(6) , /* Accepted count*/
table.problemset td:nth-child(6),
table.problemset th:nth-child(7), /* Tried count */
table.problemset td:nth-child(7) {
	text-align: center;
	width: 40px;
}

table.problemset th:nth-child(3) { /* Problem Name */
	text-align: left;
}

table.problemset th:nth-child(8), /* Accepted rate */
table.problemset td:nth-child(8) {
	text-align: center;
	width: 70px;
}

table.problemset td {
	border-top: 1px solid grey;
}
table.problemset tr:first-child td {
	border-top: 2px solid grey;
}

/* table.problemset .tag-wrapper {
	float: right;
	vertical-align: middle;
}
table.problemset .tag-wrapper a[hide] {
	display: none;
} */