/* Theme Colors */
:root {
	--default-color-begin: #8600ff;
	--default-color-end: #ff359a;
	--default-color: #ff359a;
}

/* Text decoration */
* {
	font-family: 'Microsoft Yahei', sans-serif;
	color: var(--default-color);
}

a {
	text-decoration: none;
}

/* Header */
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	height: 50px;
	line-height: 50px;
	background-color: rgba(240, 240, 240, 0.836);
	border-bottom: 2px solid;
	border-top: 0 solid;
	border-left: 0 solid;
	border-right: 0 solid;
	border-image: linear-gradient(to right, var(--default-color-begin), var(--default-color-end)) 20 20;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}

/* Sign in & Sign up Button */
#sign-in-button,
#sign-up-button {
	width: 76px;
	height: 32px;
	margin: 0 4px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-width: 0px;
	transition-duration: 0.4s;
	transition-delay: 0.07s;
	font-size: 15px;
}

#sign-in-button {
	border: 2px solid;
}
#sign-in-button:hover {
	background-color: rgba(207, 207, 207, 0.85);
}

#sign-up-button {
	background-image: linear-gradient(to right, var(--default-color-begin), var(--default-color-end));
    color: #eeeeee;
    background-size: 220% 220%;
    background-position: 80% 80%;
}
#sign-up-button:hover {
	background-position: 10% 10%;
}

/* Gradient Text */
.gradient-text {
	background-image: linear-gradient(to top right, var(--default-color-begin), var(--default-color-end));
	background-color: var(--default-color);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}