<header>
	<a href="/" style="vertical-align: top; margin: 0px 4px 0px 8px;">
		<img src="/img/ooj.png" alt="OOJ logo" style="vertical-align: middle; height: 55px;"/>
	</a>
	<a href="/" style="font-size: 45px; vertical-align: 50%; color: #ff359a;">OsmiumOJ</a>
	<!-- <button onclick="window.open('/login?href=' + encodeURIComponent(window.location.pathname), '_self')" id="sign-in-button" style="text-align: right; background-color: #ff359a;">登录</button>
	<button onclick="window.open('/register?href=' + encodeURIComponent(window.location.pathname), '_self')" id="sign-up-button" >注册</button> -->
</header>