<header unselectable="on" onselectstart="return false;">
	<a href="/" style="vertical-align: middle; margin: 0px 4px 0px 8px;">
		<img src="/img/ooj.png" alt="OOJ logo" style="vertical-align: middle; height: 45px;"/>
	</a>
	<a href="/" style="font-size: 30px; vertical-align: middle;" class="gradient-text">Osmium OJ</a>
	<span style="position: absolute; right: 0; height: 100%; margin-right: 10px;">
		<button id="sign-in-button">登录</button>
		<button id="sign-up-button">注册</button>
	</span>
</header>