<ul id="left-sidebar">
	<a href="/">
		<li>
			<i class="fas fa-home gradient-text"></i>
			<span class="gradient-text">主页</span>
		</li>
	</a>
	<a href="/problems">
		<li>
			<i class="fas fa-book gradient-text"></i>
			<span class="gradient-text">题库</span>
		</li>
	</a>
	<a href="/contests">
		<li>
			<i class="fas fa-trophy gradient-text"></i>
			<span class="gradient-text">比赛</span>
		</li>
	</a>
	<a href="/judgments">
		<li>
			<i class="fas fa-calendar-check gradient-text"></i>
			<span class="gradient-text">评测</span>
		</li>
	</a>
	<a href="/exercises">
		<li>
			<i class="fas fa-crosshairs gradient-text"></i>
			<span class="gradient-text">练习</span>
		</li>
	</a>
	<a href="/ladders">
		<li>
			<i class="fas fa-signal gradient-text"></i>
			<span class="gradient-text">天梯</span>
		</li>
	</a>
</ul>
<ul class="right-sidebar">
	<a href="/talks">
		<li>
			<i class="fas fa-envelope"></i>
			<span class="gradient-text">私信</span>
		</li>
	</a>
	<a href="/notifications">
		<li>
			<i class="fas fa-bell"></i>
			<span class="gradient-text">通知</span>
		</li>
	</a>
	<a href="/discussions">
		<li>
			<i class="fas fa-comments"></i>
			<span class="gradient-text">讨论</span>
		</li>
	</a>
	<a href="/tools">
		<li>
			<i class="fas fa-drafting-compass"></i>
			<span class="gradient-text">工具</span>
		</li>
	</a>
</ul>