<ul id="sidebar">
	<a href="/">
		<li>
			<i class="fas fa-home gradient-text"></i>
			<span class="gradient-text">主页</span>
		</li>
	</a>
	<a href="/problems">
		<li>
			<i class="fas fa-book gradient-text"></i>
			<span class="gradient-text">题库</span>
		</li>
	</a>
	<a href="/contests">
		<li>
			<i class="fas fa-trophy gradient-text"></i>
			<span class="gradient-text">比赛</span>
		</li>
	</a>
	<a href="/discussions">
		<li>
			<i class="fas fa-comments gradient-text"></i>
			<span class="gradient-text">讨论</span>
		</li>
	</a>
	<a href="/judgments">
		<li>
			<i class="fas fa-calendar-check gradient-text"></i>
			<span>评测</span>
		</li>
	</a>
	<a href="/functions">
		<li>
			<i class="fas fa-drafting-compass gradient-text"></i>
			<span>功能</span>
		</li>
	</a>
</ul>