<ul id="sidebar">
	<li>
		<a href="/">
			<i class="fa fa-home gradient-text"></i>
			<span class="gradient-text">主页</span>
		</a>
	</li>
	<li>
		<a href="/problems">
			<i class="fa fa-book gradient-text"></i>
			<span class="gradient-text">题库</span>
		</a>
	</li>
	<li>
		<a href="/contests">
			<i class="fa fa-trophy gradient-text"></i>
			<span class="gradient-text">比赛</span>
		</a>
	</li>
	<li>
		<a href="/discussions">
			<i class="fa fa-comments gradient-text"></i>
			<span class="gradient-text">讨论</span>
		</a>
	</li>
	<li>
		<a href="/judgments">
			<i class="fa fa-calendar-check gradient-text"></i>
			<span>评测</span>
		</a>
	</li>
	<li>
		<a href="/functions">
			<i class="fa fa-drafting-compass gradient-text"></i>
			<span>功能</span>
		</a>
	</li>
</ul>