body {
	margin: 0 0 0 0;
	text-overflow: ellipsis;
	background-color: #f8f8ff;
}
header.top {
	position: fixed;
	text-align: center;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 64px;
	z-index: 32767;
	background-color: rgba(225, 225, 245, 0.75);
	transition-duration: 0.4s;
	box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.24), 3px 3px 9px 0 rgba(0, 0, 0, 0.19);
}
header.top:hover, footer.botm:hover {
	background-color: #f2f2ff;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.24), 17px 17px 50px 0 rgba(0, 0, 0, 0.19);
}
footer.botm {
	position: fixed;
	/* position: absolute;
	margin-top: -64px; */
	text-align: center;
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 64px;
	z-index: 32767;
	line-height: 64px;
	vertical-align: middle;
	background-color: rgba(225, 225, 245, 0.75);
	transition-duration: 0.4s;
	box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.24), 3px 3px 9px 0 rgba(0, 0, 0, 0.19);
}
ul.nav {
	top: 64px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	z-index: 32767;
}
ul.nav li {
	text-align: center;
	vertical-align: middle;
	width: 120px;
	height: 60px;
	line-height: 60px;
	display: block;
	border-radius: 10px;
	list-style-type: none;
	color: #000000;
	font-size: 16px;
	margin-left: -90px;
	cursor: pointer;
	background-color: rgba(105, 105, 150, 0.7);
	transition-duration: 0.4s;
	overflow: hidden;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}
ul.nav li:hover {
	background-color: rgba(135, 135, 180, 0.7);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
a {
	text-decoration: none;
}
.a1 {
	color: #696996;
	font-weight: 600;
	text-decoration: none;
}
.a2 {
	color: #444444;
	font-weight: 600;
	text-decoration: none;
}
.a1, .a2, .changetext1, .trans {
	transition-duration: 0.4s;
}
.text2, .changetext1, .a1:link, .a1:visited {
	color: #696996;
	text-shadow: 0px 0px 7px #888899, 0px 0px 14px #888899, 0px 0px 21px #888899;
}
.a2:link, .a2:visited {
	color: #444444;
	text-shadow: 0px 0px 7px #888899, 0px 0px 14px #888899, 0px 0px 21px #888899;
}
.text1, .changetext1:hover, .a1:hover, .a1:active {
	color: #8787b4;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
.a2:hover, .a2:active {
	color: #777765;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
.tag1, .tag2 {
	display: inline-block;
	margin: 4px 2px;
	padding: 3px 5px;
	border: none;
	outline: medium;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	transition-duration: 0.4s;
	border-radius: 15px;
	box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.25);
}
.tag1 {
	font-size: 18px;
	background-color: #ffeeff;
}
.tag2 {
	background-color: #dddddd;
}
.div1 {
	background-color: rgba(255, 255, 255, 0.2);
	transition-duration: 0.4s;
	border-radius: 15px;
	box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.25);
	padding: 8px;
	display: inline-block;
	margin: 8px;
}
.div1:hover, .div2:hover, .tag1:hover, .tag2:hover {
	box-shadow: 8px 8px 15px 8px rgba(0, 0, 0, 0.2);
}
.div2 {
	border: 2px solid #777765;
	background: rgba(235, 235, 235, 0.2);
	border-radius: 7px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}
.div-cont {
	vertical-align: top;
	display: inline-block;
}
.spn {
	display: inline-block;
}
.elmt-main {
	position: absolute;
	top: 72px;
	width: 864px;
	left: calc(50% - 432px);
	margin-bottom: 85px;
}
.centeria {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
}
.round {
	border-radius: 50%;
}
.fill1 {
	outline: medium;
	background-color: rgba(105, 105, 150, 0.7);
	color: #000000;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}
.fill1:hover {
	background-color: rgba(135, 135, 180, 0.7);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.fill2 {
	outline: medium;
	background-image: linear-gradient(45deg, #696996, #dd77ff);
	background-size: 300% 100%;
	background-position: 0% 50%;
	color: #eeeeee;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}
.fill2:hover {
	background-position: -100% 0%;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.input1 {
	margin: 4px 2px;
	height: 20px;
	width: 250px;
	border-radius: 10px;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	border: none;
	outline: medium;
	transition-duration: 0.4s;
	text-shadow: 0px 0px 7px #777, 0px 0px 14px #777, 0px 0px 21px #777;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}
.input1:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.h {
	font-size: 25px;
	margin: 4px 3px;
}
.sh {
	font-size: 25px;
}
.artic h1 {
	font-size: 30px;
	color: #483d8b;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
.artic h2 {
	font-size: 24px;
	color: #483d8b;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
.artic h3 {
	font-size: 21px;
	color: #483d8b;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
.artic h4 {
	font-size: 19px;
	color: #483d8b;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
.artic h5 {
	font-size: 18px;
	color: #483d8b;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
.artic h6 {
	font-size: 17px;
	color: #483d8b;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
.artic a {
	font-weight: 600;
	transition-duration: 0.4s;
}
.artic a:link, .artic a:visited {
	color: #6a5acd;
	text-shadow: 0px 0px 7px #888899, 0px 0px 14px #888899, 0px 0px 21px #888899;
}
.artic a:hover, .artic a:active {
	color: #7b68ee;
	text-shadow:0px 0px 10px #aaaabb, 0px 0px 20px #aaaabb, 0px 0px 30px #aaaabb;
}
hr {
	border: 1px solid rgba(0, 0, 0, 0.2);
}