* {
	box-sizing: border-box;
	color: #111414;
	word-wrap: break-word
}
html, body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	min-height: 350px;
}
a {
	text-decoration: none
}
header.tit {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	height: 64px;
	line-height: 64px;
	background-color: rgba(239, 239, 239, 0.85);
}
footer.ede {
	z-index: 100;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 36px;
	line-height: 36px;
	position: fixed;
	background-color: rgba(239, 239, 239, 0.85);
	text-align: center
}
.jbtxt {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text
}
/* Ul nav */
ul.nav {
	margin: 0;
	padding: 0;
	z-index: 99;
	position: fixed;
	top: 64px;
	left: 0
}
ul.nav li, .nav-cov {
	line-height: 48px;
	border-radius: 24px;
	transition-duration: 0.4s
}
ul.nav li {
	position: relative;
	display: block;
	text-align: center;
	list-style-type: none;
	width: 160px;
	height: 48px;
	margin-left: -80px;
	font-weight: 600;
	font-size: 16px;
	background-image: linear-gradient(to bottom right, #008b8b, #00bdbd)
}
.nav-cov {
	position: absolute;
	width: 156px;
	height: 47px;
	left: 0;
	background-color: #eeeeee
}
ul.nav li:hover {
	margin-left: -40px
}
/* Scroll bar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #dddddd
}
::-webkit-scrollbar-button {
	display: none
}
::-webkit-scrollbar-track {
    box-shadow: inset -2px 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #dddddd
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom right, #aaaaaa, #666666)
}
::-webkit-scrollbar-corner {
	background-color: #dddddd
}
/* Article part */
.artic {
	font-size: 14px
}
/* .artic h1, .artic h2, .artic h3, .artic h4, .artic h5, .artic h6 {
	color: #008383
} */
.artic h1 {
	font-size: 30px
}
.artic h2 {
	font-size: 26px
}
.artic h3 {
	font-size: 23px
}
.artic h4 {
	font-size: 21px
}
.artic h5 {
	font-size: 19px
}
.artic h6 {
	font-size: 17px
}
.artic b {
	font-weight: 800
}
.artic a {
	font-weight: 600;
	transition-duration: 0.4s
}
.artic a:link, .artic a:visited {
	color: #008b8b
}
.artic a:hover, .artic a:active {
	color: #00bdbd
}
.artic code, .artic pre {
	padding: 2px;
	border: 1px solid rgba(165, 165, 165, 0.85);
	border-radius: 3px;
	background-color: rgba(207, 207, 207, 0.85)
}
.artic hr {
	margin-left: 0;
	margin-right: 0;
	margin-top: 8px;
	margin-bottom: 8px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.85), transparent)
}
.artic blockquote {
	margin-left: 12px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 8px;
	border-left: 3px solid rgba(165, 165, 165, 0.85);
	background-image: linear-gradient(to right, rgba(207, 207, 207, 0.85), transparent)
}
/* Grad line and grad column */
.grad-line, .grad-line-top, .grad-line-bottom, .grad-column, .grad-column-left, .grad-column-right {
	position: absolute;
	background-image: linear-gradient(to bottom right, #008080, #00ffff)
}
.grad-line, .grad-line-top, .grad-line-bottom {
	left: 0;
	right: 0;
	height: 2px
}
.grad-column, .grad-column-left, .grad-column-right {
	top: 0;
	bottom: 0;
	width: 2px
}
.grad-line-top {
	top: 0
}
.grad-line-bottom {
	bottom: 0
}
.grad-column-left {
	left: 0
}
.grad-column-right {
	right: 0
}
/* Elements part */
main.main-part, div.ext-part {
	position: absolute;
	margin-top: 76px;
	margin-bottom: 48px;
	min-height: calc(100vh - 124px)
}
main.main-part {
	left: 8vw;
	right: 28vw
}
div.ext-part {
	left: 72vw;
	right: 8vw
}
.box-1 {
	margin: 8px;
	padding: 8px;
	background-color: rgba(239, 239, 239, 0.85)
}
.grad-bg-1 {
	background-image: linear-gradient(to bottom right, #008b8b, #00bdbd)
}
.grad-bg-2 {
	background-image: linear-gradient(to bottom right, #008080, #00ffff)
}