:root {
	--color-0: #008080;
	--color-1: #00bcbc;
	--color-2: #00ffff;
}
* {
	box-sizing: border-box;
	color: #111414;
	word-wrap: break-word;
	vertical-align: middle
}
html, body {
	margin: 0;
	padding: 0;
	background: #ffffff
}
a {
	text-decoration: none
}
header.tit {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	height: 64px;
	line-height: 64px;
	background-color: rgba(239, 239, 239, 0.85);
	transition-delay: 0.07s;
	user-select: none
}
footer.ede {
	z-index: 100;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 36px;
	line-height: 36px;
	position: fixed;
	background-color: rgba(239, 239, 239, 0.85);
	transition-delay: 0.07s;
	text-align: center;
	user-select: none
}
/* Gradient text */
.grad-txt {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text
}
/* Scroll bar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #dddddd
}
::-webkit-scrollbar-button {
	display: none
}
::-webkit-scrollbar-track {
    box-shadow: inset -2px 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #dddddd
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom right, #aaaaaa, #666666)
}
::-webkit-scrollbar-corner {
	background-color: #dddddd
}
/* Article part */
.artic {
	font-size: 14px
}
/* .artic h1, .artic h2, .artic h3, .artic h4, .artic h5, .artic h6 {
	color: #008383
} */
.artic h1 {
	font-size: 30px
}
.artic h2 {
	font-size: 26px
}
.artic h3 {
	font-size: 23px
}
.artic h4 {
	font-size: 21px
}
.artic h5 {
	font-size: 19px
}
.artic h6 {
	font-size: 17px
}
.artic b {
	font-weight: 800
}
.artic a {
	font-weight: 600;
	transition-duration: 0.4s
}
.artic a:link, .artic a:visited {
	color: var(--color-0, #008080)
}
.artic a:hover, .artic a:active {
	color: var(--color-1, #00bcbc)
}
.artic a, .a-1 {
	font-weight: 600;
	transition-duration: 0.4s
}
.artic a:link, .a-1:link, .artic a:visited, .a-1:visited {
	color: var(--color-0, #008080)
}
.artic a:hover, .a-1:hover, .artic a:active, .a-1:active {
	color: var(--color-1, #00bcbc)
}
.artic code, .artic pre {
	font-family: "Consolas";
	padding: 2px;
	border: 1px solid rgba(165, 165, 165, 0.85);
	border-radius: 3px;
	background-color: rgba(207, 207, 207, 0.85)
}
.artic hr {
	margin-left: 0;
	margin-right: 0;
	margin-top: 8px;
	margin-bottom: 8px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.85), transparent)
}
.artic blockquote {
	margin-left: 12px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 8px;
	border-left: 3px solid rgba(165, 165, 165, 0.85);
	background-image: linear-gradient(to right, rgba(207, 207, 207, 0.85), transparent)
}
/* Grad line and grad column */
.thin-border {
	border: 1px solid var(--color-1, #00bcbc)
}
.thin-double-lines, .thin-line-top {
	border-top: 1px solid var(--color-1, #00bcbc)
}
.thin-double-lines, .thin-line-bottom {
	border-bottom: 1px solid var(--color-1, #00bcbc)
}
.thin-double-columns, .thin-column-left {
	border-left: 1px solid var(--color-1, #00bcbc)
}
.thin-double-columns, .thin-column-right {
	border-right: 1px solid var(--color-1, #00bcbc)
}
.grad-border {
	border: 2px solid var(--color-1, #00bcbc)
}
.grad-double-lines, .grad-line-top {
	border-top: 2px solid var(--color-1, #00bcbc)
}
.grad-double-lines, .grad-line-bottom {
	border-bottom: 2px solid var(--color-1, #00bcbc)
}
.grad-double-columns, .grad-column-left {
	border-left: 2px solid var(--color-1, #00bcbc)
}
.grad-double-columns, .grad-column-right {
	border-right: 2px solid var(--color-1, #00bcbc)
}
.fat-border {
	border: 4px solid var(--color-1, #00bcbc)
}
.fat-double-lines, .fat-line-top {
	border-top: 4px solid var(--color-1, #00bcbc)
}
.fat-double-lines, .fat-line-bottom {
	border-bottom: 4px solid var(--color-1, #00bcbc)
}
.fat-double-columns, .fat-column-left {
	border-left: 4px solid var(--color-1, #00bcbc)
}
.fat-double-columns, .fat-column-right {
	border-right: 4px solid var(--color-1, #00bcbc)
}
/* Elements part */
main.main-part, main.full-part, main.main-small, div.ext-part {
	position: absolute;
	margin-top: 76px;
	margin-bottom: 48px
}
main.main-part {
	left: 100px;
	right: 28vw
}
main.full-part {
	left: 100px;
	right: 100px
}
main.main-small {
	left: calc(50% - 200px);
	right: calc(50% - 200px)
}
div.ext-part {
	left: 72vw;
	right: 100px
}
.box-1 {
	margin: 8px;
	padding: 8px;
	border-radius: 8px;
	background-color: rgba(239, 239, 239, 0.85)
}
/* Fulfill in static (:P) */
.full-in-static {
	margin: 0
}
.full-in-static-left, .full-in-static-left-right {
	margin-left: 0
}
.full-in-static-right, .full-in-static-left-right {
	margin-right: 0
}
.full-in-static-top, .full-in-static-top-bottom {
	margin-top: 0
}
.full-in-static-bottom, .full-in-static-top-bottom {
	margin-bottom: 0
}
.full-1, .full-1-left-right {
	width: 100%
}
.full-1, .full-1-top-bottom {
	height: 100%
}
/* Tags */
.tag-1 {
	display: inline-block;
	margin: 4px;
	padding: 4px;
	font-size: 11px;
	color: #ffffff !important;
	opacity: 0.7;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
	font-weight: 500 !important
}
.tag-1:hover {
	opacity: 0.95
}
.tag-1.black {
	background-color: #000000
}
.tag-1.gray, .tag-1.grey {
	background-color: #474747
}
.tag-1.silver {
	background-color: #8a8a8a
}
.tag-1.red {
	background-color: #bf0000
}
.tag-1.orange {
	background-color: #ff7700
}
.tag-1.yellow {
	background-color: #bfbf00
}
.tag-1.blue {
	background-color: #0000bf
}
.tag-1.green {
	background-color: #00bf00
}
.tag-1.maroon {
	background-color: #360000
}
.tag-1.purple {
	background-color: #7a007a
}
.tag-1.noob {
	background-color: #8a8a8a
}
.tag-1.noob::before {
	content: "难度-E"
}
.tag-1.easy {
	background-color: #00bf00
}
.tag-1.easy::before {
	content: "难度-D"
}
.tag-1.middle {
	background-color: #0000bf
}
.tag-1.middle::before {
	content: "难度-C"
}
.tag-1.hard {
	background-color: #ff7700
}
.tag-1.hard::before {
	content: "难度-B"
}
.tag-1.duliu {
	background-color: #bf0000
}
.tag-1.duliu::before {
	content: "难度-A"
}
.tag-1.sh_t {
	background-color: #360000
}
.tag-1.sh_t::before {
	content: "难度-S"
}
/* Zad */ 
.fill-1 {
	outline: medium;
	border: 0;
	font-size: 16px;
	font-weight: 600;
	transition-duration: 0.4s;
	transition-delay: 0.07s;
	background-image: linear-gradient(to right, var(--color-0, #008080), var(--color-2, #00ffff));
	background-size: 200% 200%;
	background-position: 99% 99%
}
.fill-1:hover {
	background-position: 0 0
}
.fill-2 {
	outline: medium;
	border: 1px solid var(--color-1, #00bcbc);
	font-size: 16px;
	font-weight: 600;
	transition-duration: 0.4s;
	transition-delay: 0.07s;
	background-color: rgba(239, 239, 239, 0.85)
}
.fill-2:hover {
	background-color: rgba(207, 207, 207, 0.85)
}
.fill-3 {
	outline: medium;
	border: 0;
	font-size: 16px;
	font-weight: 600;
	transition-duration: 0.4s;
	transition-delay: 0.07s;
	border: 1px solid var(--color-1, #00bcbc);
	background-image: linear-gradient(to right, rgba(239, 239, 239, 0.85), rgba(175, 175, 175, 0.85));
	background-size: 200% 200%;
	background-position: 99% 99%
}
.fill-3:hover {
	background-position: 0 0
}
.grad-bg-1 {
	background-image: linear-gradient(to bottom right, var(--color-0, #008080), var(--color-1, #00bcbc))
}
.grad-bg-2 {
	background-image: linear-gradient(to bottom right, var(--color-0, #008080), var(--color-2, #00ffff))
}
/* Table */
table {
	border: 0 !important
}
th {
	font-weight: bold
}
table.splited-1 td.name-part, table.splited-1 td.left-70 {
	width: 70%
}
table.splited-1 td.tag-part {
	width: 30%;
	text-align: right
}
table.splited-1 td.right-30 {
	width: 30%
}
table.splited-1 td.author {
	text-align: center;
	vertical-align: top;
	width: 48px
}
table.splited-1 td.author-text {
	vertical-align: top;
	width: calc(100% - 48px)
}
/* Contest */
.contest-name {
	font-size: 18px !important
}
/* Nav */
ul.nav-top {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: fixed;
	top: 90px;
	width: 48px
}
ul.nav-top.nav-left {
	left: 26px
}
ul.nav-top.nav-right {
	right: 26px
}
ul.nav-top>:first-of-type li {
	margin-top: 0;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	border-top: 2px solid var(--color-1, #00bcbc)
}
ul.nav-top>:last-of-type li {
	margin-bottom: 0;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
	border-bottom: 2px solid var(--color-1, #00bcbc)
}
ul.nav-top li {
	transition-delay: 0.07s;
	transition-duration: 0.4s;
	margin-left: 0;
	margin-right: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	line-height: 48px;
	background-color: #eeeeee;
	width: 48px;
	height: 48px
}
ul.nav-top li:hover {
	height: 96px
}
ul.nav-top li span.nav-text {
	display: block;
	font-size: 14px;
	font-weight: 600;
	transition-delay: 0s;
	visibility: hidden
}
ul.nav-top li:hover span.nav-text {
	transition-delay: 0.27s;
	visibility: visible
}
/* Input */
.input-1 {
	font-weight: 400;
	outline: medium;
	border: 0
}
/* Commenter */
.comment-pager-text {
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 12px;
	width: 100%
}
.comment-pager-button {
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	border-radius: 18px;
	height: 36px;
	line-height: 36px;
	width: 100%
}
/* Alert1 button */
.comment-button, .post-button, .alert1-button {
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	border-radius: 36px;
	line-height: 36px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2px;
	padding-bottom: 2px
}
.post-button, .alert1-button {
	margin: 8px
}
/* Nav line */
ul.nav-inline {
	margin: 8px;
	padding: 0;
	list-style-type: none;
	height: 36px
}
ul.nav-inline>:first-of-type li {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	border-left: 2px solid var(--color-1, #00bcbc)
}
ul.nav-inline>:last-of-type li {
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	border-right: 2px solid var(--color-1, #00bcbc)
}
ul.nav-inline li {
	transition-delay: 0.07s;
	transition-duration: 0.4s;
	text-align: center;
	line-height: 36px;
	background-color: #eeeeee;
	display: inline-block;
	width: 36px;
	height: 36px
}
ul.nav-inline li span.nav-text {
	display: block;
	font-size: 14px;
	font-weight: 600;
	transition-delay: 0s;
	visibility: hidden
}
ul.nav-inline li:hover span.nav-text {
	transition-delay: 0.27s;
	visibility: visible
}
/* Change */
.change:not(.change-show) {
	display: none
}
/* Login & Register */
#user-login, #user-register {
	text-align: center
}
.user-sign-box {
	width: 76%;
	margin: 0 12% 0 12%
}
.user-sign-text-left, .user-sign-text-right {
	display: block;
	width: 100%;
	margin: 0
}
.user-sign-text-left {
	text-align: left
}
.user-sign-text-right {
	text-align: right
}
.user-sign-input {
	display: block;
	font-weight: 400;
	outline: medium;
	border: 0;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 16px;
	width: 100%;
	margin: 0 0 4px 0
}
/* Animations */
@keyframes turning-animation {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.turning-animation {
	animation: turning-animation 5s infinite;
}
@keyframes fake-moving-grad-bg {
	0%, 100% {
		background-position: 99% 99%
	}
	50% {
		background-position: 0 0
	}
}
.fake-moving-grad-bg {
	animation: fake-moving-grad-bg 2s infinite;
}