/* Shadow */
/* Normal, Zuo shang */
.shadow, .shadow-upper-left {
	transition-duration: 0.4s;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.24), 3px 3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow:hover, .shadow-upper-left:hover {
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.24), 17px 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo shang text */
.shadow-txt, .shadow-txt-upper-left {
	transition-duration: 0.4s;
    text-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.24), 3px 3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-txt:hover, .shadow-txt-upper-left:hover {
	text-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.24), 17px 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo xia */
.shadow-lower-left {
	transition-duration: 0.4s;
    box-shadow: 3px -3px 4px 0 rgba(0, 0, 0, 0.24), 3px -3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-lower-left:hover {
	box-shadow: 12px -12px 16px 0 rgba(0, 0, 0, 0.24), 17px -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo xia text */
.shadow-txt-lower-left {
	transition-duration: 0.4s;
    text-shadow: 3px -3px 4px 0 rgba(0, 0, 0, 0.24), 3px -3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-txt-lower-left:hover {
	text-shadow: 12px -12px 16px 0 rgba(0, 0, 0, 0.24), 17px -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* You shang */
.shadow-upper-right {
	transition-duration: 0.4s;
    box-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.24), -3px 3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-upper-right:hover {
	box-shadow: -12px 12px 16px 0 rgba(0, 0, 0, 0.24), -17px 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* You shang text */
.shadow-txt-upper-right {
	transition-duration: 0.4s;
    text-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.24), -3px 3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-txt-upper-right:hover {
	text-shadow: -12px 12px 16px 0 rgba(0, 0, 0, 0.24), -17px 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* You xia */
.shadow-lower-right {
	transition-duration: 0.4s;
    box-shadow: -3px -3px 4px 0 rgba(0, 0, 0, 0.24), -3px -3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-lower-right:hover {
	box-shadow: -12px -12px 16px 0 rgba(0, 0, 0, 0.24), -17px -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* You xia text */
.shadow-txt-lower-right {
	transition-duration: 0.4s;
    text-shadow: -3px -3px 4px 0 rgba(0, 0, 0, 0.24), -3px -3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-txt-lower-right:hover {
	text-shadow: -12px -12px 16px 0 rgba(0, 0, 0, 0.24), -17px -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Shang */
.shadow-up {
	transition-duration: 0.4s;
    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.24), 0 -3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-up:hover {
	box-shadow: 0 -12px 16px 0 rgba(0, 0, 0, 0.24), 0 -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Shang text */
.shadow-txt-up {
	transition-duration: 0.4s;
    text-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.24), 0 -3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-txt-up:hover {
	text-shadow: 0 -12px 16px 0 rgba(0, 0, 0, 0.24), 0 -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Xia */
.shadow-down {
	transition-duration: 0.4s;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-down:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Xia text */
.shadow-txt-down {
	transition-duration: 0.4s;
    text-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-txt-down:hover {
	text-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo */
.shadow-left {
	transition-duration: 0.4s;
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.24), -3px 0 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-left:hover {
	box-shadow: -12px 0 16px 0 rgba(0, 0, 0, 0.24), -17px 0 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo text */
.shadow-txt-left {
	transition-duration: 0.4s;
    text-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.24), -3px 0 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-txt-left:hover {
	text-shadow: -12px 0 16px 0 rgba(0, 0, 0, 0.24), -17px 0 24px 0 rgba(0, 0, 0, 0.19)
}
/* You */
.shadow-right {
	transition-duration: 0.4s;
    box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.24), 3px 0 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-right:hover {
	box-shadow: 12px 0 16px 0 rgba(0, 0, 0, 0.24), 17px 0 24px 0 rgba(0, 0, 0, 0.19)
}
/* You text */
.shadow-txt-right {
	transition-duration: 0.4s;
    text-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.24), 3px 0 9px 0 rgba(0, 0, 0, 0.19)
}
.shadow-txt-right:hover {
	text-shadow: 12px 0 16px 0 rgba(0, 0, 0, 0.24), 17px 0 24px 0 rgba(0, 0, 0, 0.19)
}
/* Static shadow */
/* Normal, Zuo shang */
.static-shadow, .static-shadow-upper-left {
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.24), 3px 3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo shang text */
.static-shadow-txt, .static-shadow-txt-upper-left {
    text-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.24), 3px 3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo xia */
.static-shadow-lower-left {
    box-shadow: 3px -3px 4px 0 rgba(0, 0, 0, 0.24), 3px -3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo xia text */
.static-shadow-txt-lower-left {
    text-shadow: 3px -3px 4px 0 rgba(0, 0, 0, 0.24), 3px -3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* You shang */
.static-shadow-upper-right {
    box-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.24), -3px 3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* You shang text */
.static-shadow-txt-upper-right {
    text-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.24), -3px 3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* You xia */
.static-shadow-lower-right {
    box-shadow: -3px -3px 4px 0 rgba(0, 0, 0, 0.24), -3px -3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* You xia text */
.static-shadow-txt-lower-right {
    text-shadow: -3px -3px 4px 0 rgba(0, 0, 0, 0.24), -3px -3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* Shang */
.static-shadow-up {
    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.24), 0 -3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* Shang text */
.static-shadow-txt-up {
    text-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.24), 0 -3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* Xia */
.static-shadow-down {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* Xia text */
.static-shadow-txt-down {
    text-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 9px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo */
.static-shadow-left {
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.24), -3px 0 9px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo text */
.static-shadow-txt-left {
    text-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.24), -3px 0 9px 0 rgba(0, 0, 0, 0.19)
}
/* You */
.static-shadow-right {
    box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.24), 3px 0 9px 0 rgba(0, 0, 0, 0.19)
}
/* You text */
.static-shadow-txt-right {
    text-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.24), 3px 0 9px 0 rgba(0, 0, 0, 0.19)
}
/* Static big shadow */
/* Normal, Zuo shang */
.static-big-shadow, .static-big-shadow-upper-left {
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.24), 17px 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo shang text */
.static-big-shadow-txt, .static-big-shadow-txt-upper-left {
    text-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.24), 17px 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo xia */
.static-big-shadow-lower-left {
    box-shadow: 12px -12px 16px 0 rgba(0, 0, 0, 0.24), 17px -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo xia text */
.static-big-shadow-txt-lower-left {
    text-shadow: 12px -12px 16px 0 rgba(0, 0, 0, 0.24), 17px -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* You shang */
.static-big-shadow-upper-right {
    box-shadow: -12px 12px 16px 0 rgba(0, 0, 0, 0.24), -17px 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* You shang text */
.static-big-shadow-txt-upper-right {
    text-shadow: -12px 12px 16px 0 rgba(0, 0, 0, 0.24), -17px 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* You xia */
.static-big-shadow-lower-right {
    box-shadow: -12px -12px 16px 0 rgba(0, 0, 0, 0.24), -17px -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* You xia text */
.static-big-shadow-txt-lower-right {
    text-shadow: -12px -12px 16px 0 rgba(0, 0, 0, 0.24), -17px -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Shang */
.static-big-shadow-up {
    box-shadow: 0 -12px 16px 0 rgba(0, 0, 0, 0.24), 0 -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Shang text */
.static-big-shadow-txt-up {
    text-shadow: 0 -12px 16px 0 rgba(0, 0, 0, 0.24), 0 -17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Xia */
.static-big-shadow-down {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Xia text */
.static-big-shadow-txt-down {
    text-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo */
.static-big-shadow-left {
    box-shadow: -12px 0 16px 0 rgba(0, 0, 0, 0.24), -17px 0 24px 0 rgba(0, 0, 0, 0.19)
}
/* Zuo text */
.static-big-shadow-txt-left {
    text-shadow: -12px 0 16px 0 rgba(0, 0, 0, 0.24), -17px 0 24px 0 rgba(0, 0, 0, 0.19)
}
/* You */
.static-big-shadow-right {
    box-shadow: 12px 0 16px 0 rgba(0, 0, 0, 0.24), 17px 0 24px 0 rgba(0, 0, 0, 0.19)
}
/* You text */
.static-big-shadow-txt-right {
    text-shadow: 12px 0 16px 0 rgba(0, 0, 0, 0.24), 17px 0 24px 0 rgba(0, 0, 0, 0.19)
}
